.navbar {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
background-color: whitesmoke;

  backdrop-filter: blur(15px); /* Add blur effect */
  color: black;
  transition: 0.5s all ease;
  position: sticky;
  top: 0;
  z-index: 10;
  

  

  &.active {
    backdrop-filter: blur(45px); 
    background-color: white;
    color: black;

    button {
      background-color: white !important;
      color: #bf1d1d !important;
      border: 1px solid #bf1d1d !important;
    }
  }


  .dot{
    color: black;

  }
  link:link, link:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  link:hover, link:active {
    background-color: black;
  }

  .container {
    width: 1400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;

    .logo {
      font-size: 34px;
      font-weight: bold;

      

      .dot {
        font-weight: bold;
        color: #bf1d1d;
      }
    }
    .links {
      display: flex;
      align-items: center;
      gap: 24px;
      font-family: "Montserrat", sans-serif;
      font-weight: 500;

      span {
        white-space: nowrap;
      }

      .user {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        position: relative;

        img {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          object-fit: cover;
        }

        .options {
          position: absolute;
          top: 50px;
          right: 0;
          padding: 20px;
          background-color: white;
          border-radius: 10px;
          z-index: 999;
          border: 1px solid lightgrey;
          display: flex;
          flex-direction: column;
          gap: 10px;
          width: 200px;
          font-weight: 300;
         
        }
      }

      button {
        color: black;
        padding: 10px 20px;
        border-radius: 5px;
        border: 1px solid black;
        background-color: transparent;
        cursor: pointer;

        &:hover {
          background-color: rgb(237, 27, 47);
          border-color: rgb(237, 27, 47);
        }
      }
    }
  }

  hr {
    width: calc(100% - 2px);
    height: 0;
    border-top: 0.5px solid #ebe9e9;
    border-bottom: 0.5px solid #ebe9e9;
  }

  .menu {
    width: 1400px;
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    color: gray;
    font-weight: 300;
    font-family: "Montserrat", sans-serif;
  }
}
.logo-image {
  width: 40px; /* Adjust the size of the logo */
  height: auto;
  margin-right: px;

}

.text {
  font-size: 1.5rem;
  font-weight: bold;
}
